{% extends "base.html" %} {% block title %}View Profile{% endblock %} {% block body %}
<div id="mainwrap">
    <img src="../../static/img/avatar.png" id="avatar">
    <p id="cname">{{current_user.first_name}} {{current_user.last_name}}</p>
    <p id="cusername" class="textcontent">@{{current_user.username}}</p>
    <br>
    <div> <span id="mail"><i class="fa fa-envelope"></i><a href="mailto:{{current_user.email}}">  {{current_user.email}}</a></span></div>
    <br>
    <div> <span id="roles"><i class="fa fa-vcard-o"></i>  {{current_user.role}}</span></div>
    <br>
    <div> <span id="depart"><i class="fa fa-building"></i>  {{current_user.department}}</span></div>
    <br>
    <div> <span id="depart"><i class="fa fa-dollar"></i> Pay Grade : {{current_user.grade}}</span></div>
</div>
{% endblock %}
