p {
    margin: 0;
}

#mainwrap {
    text-align: center;
    display: block;
    margin-top: 6%;
}

#avatar {
    height: 250px;
    width: 250px;
}

#cname {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    color: #0277BD;
}

#cusername {
    font-size: 20px;
    color: #BDBDBD;
}

#mail,
#roles,
#depart {
    font-size: 20px;
}

#mail>a {
    color: black;
}

#mail>a:hover {
    text-decoration: none;
}
