{% import "bootstrap/utils.html" as utils %} {% extends "base.html" %} {% block title %}Pay Grades{% endblock %} {% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <br/> {{ utils.flashed_messages() }}
                <br/>
                <h1 style="text-align:center;">Pay Grades</h1>
                {% if grades %}
                <hr class="intro-divider">
                <div class="center">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="15%"> Pay Grade </th>
                                <th width="20%"> Amount </th>
                                <th width="20%"> Employee Count </th>
                                <th width="15%"> Edit </th>
                                <th width="15%"> Delete </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for grade in grades %}
                            <tr>
                                <td> {{ grade.paygrade }} </td>
                                <td> {{ grade.amount }} </td>
                                <td>
                                    {% if grade.employees %} {{ grade.employees.count() }} {% else %} 0 {% endif %}
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.edit_grade', id=grade.id) }}" class="green">
                                        <i class="fa fa-pencil"></i> Edit
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('admin.delete_grade', id=grade.id) }}" class="red">
                                        <i class="fa fa-trash"></i> Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center">
                    {% else %}
                    <div style="text-align: center">
                        <h3> No Pay Grades have been added. </h3>
                        <hr class="intro-divider"> {% endif %}
                        <a href="{{ url_for('admin.add_grade') }}" class="btn btn-default btn-lg">
                            <i class="fa fa-plus"></i> Add Pay Grade
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}